#lieu-2021 img {
  width: 20%;
  border: #f48f41 10px solid;
}

#lieu-2022 img {
  border: #cc89d6 10px solid;
  height: 400px;
}

#lieu-2023 img {
  border: #70dda6 10px solid;
  height: 400px;
}

#lieu-2024 img {
  border: #e52953 10px solid;
  height: 400px;
}
