#lieu-start img {
  width: 100%;
  max-height: 300px;
  border: #49b8d4 10px solid;
}

#lieu-2021 img {
  width: 20%;
  border: #f48f41 10px solid;
}

#lieu-2022 img {
  border: #cc89d6 10px solid;
  height: 400px;
}

#lieu-2023 img {
  border: #70dda6 10px solid;
  height: 400px;
}

#lieu-2024 img {
  border: #e52953 10px solid;
  height: 400px;
}

.notif {
  border: #e52953 5px solid;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.notif img {
  max-height: 80px;
  margin: 30px;
}
