h4 {
  font-size: 30px;
}

article img {
  border: #49b8d4 10px solid;
}

#festicolo-bio {
  flex-direction: column;
  align-items: center;
}

#festicolo-bio img {
  max-height: 400px;
}

#festicolo-sejour div {
  justify-content: space-evenly;
}

#festicolo-sejour img {
  border-color: #e52953;
  width: 446px;
  max-width: 446px;
  margin: 5px;
}

#festicolo-sejour div {
  padding: 5px;
}

#festicolo-lieu img {
  border-color: #f48f41;
  height: 600px;
  max-width: 30%;
  margin: auto 0;
}

#festicolo-reservation a {
  margin: auto;
}

@media only screen and (max-width: 1279px) {
  #festicolo-sejour img {
    width: 100%;
  }

  #festicolo-lieu,
  #festicolo-prix {
    flex-direction: column-reverse;
  }

  #festicolo-lieu img {
    max-width: 100%;
    height: auto;
  }

  #festicolo-activites img {
    max-width: 100%;
  }
}
