.waterlillyTitle {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin: 90px auto;
  width: 80%;
}

.waterlillyTitle h2 {
  animation: appear 1s 0s linear alternate;
  animation-fill-mode: forwards;
}

.waterlillyTitle > img {
  position: absolute;
  width: 80%;
  height: 0px;
  margin-top: 10px;
  left: 10%;
  z-index: -2;
  animation: underlinespawn 0.8s 0.2s linear alternate;
  animation-fill-mode: forwards;
}

.waterlillies {
  z-index: -1;
  position: absolute;
  width: 72%;
  display: flex;
  justify-content: space-between;
}

.waterlillies img {
  width: 100px;
  opacity: 0;
  animation: waterlilyspawn 0.7s 0s linear alternate;
  animation-fill-mode: forwards;
  filter: brightness(1.15);
}

.waterlillies img:last-child {
  transform: scaleX(-1);
  transform: scaleY(-1);
}

@keyframes waterlilyspawn {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    width: 0px;
  }
  50% {
    animation-timing-function: ease;
    opacity: 1;
    width: 55px;
    rotate: 90deg;
  }
  80% {
    animation-timing-function: ease;
    width: 120px;
    opacity: 1;
    rotate: 120deg;
  }
  100% {
    animation-timing-function: ease;
    opacity: 1;
    width: 100px;
    rotate: 90deg;
  }
}

@keyframes underlinespawn {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    height: 0px;
  }
  50% {
    animation-timing-function: ease;
    opacity: 1;
    height: 55px;
  }
  80% {
    animation-timing-function: ease;
    height: 140px;
    opacity: 1;
  }
  100% {
    animation-timing-function: ease;
    opacity: 1;
    height: 100px;
  }
}
