.bio {
  display: flex;
}
.bio > img {
  width: 30%;
  margin-right: 60px;
  animation: appear 1.5s 0s linear alternate;
  animation-fill-mode: forwards;
  object-fit: contain;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redirect {
  font-size: 40px;
  color: #53b0e4;
}

article {
  display: flex;
  font-size: 22px;
  margin: 30px 0;
}

article h3 {
  text-align: center;
  font-size: 32px;
}

article > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
}

article img {
  object-fit: cover;
  max-width: 40%;
}

#home-start img {
  border: #e52953 10px solid;
}

#home-activities img {
  border: #49b8d4 10px solid;
}

#home-valeurs img {
  border: #f48f41 10px solid;
}

#home-grow img {
  border: #70dda6 10px solid;
}
