.bio {
  display: flex;
}

.bio > img {
  width: 30%;
  margin-right: 60px;
  animation: appear 1.5s 0s linear alternate;
  animation-fill-mode: forwards;
  object-fit: contain;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redirect {
  font-size: 40px;
  color: #53b0e4;
  margin: 40px 0;
}

.gallery {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: appear 0.8s 0.2s linear alternate;
  animation-fill-mode: forwards;
  width: 100%;
}

.gallery img {
  aspect-ratio: 1/1;
  max-width: 30%;
  max-height: 300px;
  object-fit: cover;
  background: linear-gradient(
    -45deg,
    #e52953,
    #f48f41,
    #e7ea69,
    #70dda6,
    #49b8d4,
    #cc89d6,
    #e52953
  );
  border-radius: 10px;
  padding: 6px;
}

#home-start img {
  border: #e52953 10px solid;
}

#home-activities img {
  border: #49b8d4 10px solid;
}

#home-valeurs img {
  border: #f48f41 10px solid;
}

#home-grow img {
  border: #70dda6 10px solid;
}
