.bio {
  display: flex;
  flex-direction: column;
}

.home-desc {
  display: flex;
}

.home-desc > img {
  width: 320px;
  margin-right: 60px;
  animation: appear 1.5s 0s linear alternate;
  animation-fill-mode: forwards;
  object-fit: contain;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.affiche img {
  max-height: 400px;
  margin: 10px;
  border-radius: 10px;
  border: #49b8d4 4px solid;
}

.affiche {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redirect {
  font-size: 40px;
  color: #53b0e4;
  margin: 40px 0;
}

.gallery {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  animation: appear 0.8s 0.2s linear alternate;
  animation-fill-mode: forwards;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  margin-top: 20px;
}

.gallery img {
  aspect-ratio: 1/1;
  max-width: 30%;
  max-height: 400px;
  object-fit: cover;
  background: linear-gradient(
    -45deg,
    #e52953,
    #f48f41,
    #e7ea69,
    #70dda6,
    #49b8d4,
    #cc89d6,
    #e52953
  );
  border-radius: 10px;
  padding: 6px;
}

#home-start img {
  border: #e52953 10px solid;
}

#home-activities img {
  border: #49b8d4 10px solid;
}

#home-valeurs img {
  border: #f48f41 10px solid;
}

#home-grow img {
  border: #70dda6 10px solid;
}

@media only screen and (max-width: 1279px) {
  .home-desc > img {
    width: 240px;
  }
}
@media only screen and (max-width: 767px) {
  .bio > img {
    width: 80%;
    margin: 0 auto;
  }

  .gallery {
    display: none;
  }

  .home-desc {
    flex-direction: column;
    align-items: center;
  }
  #home-activities {
    flex-direction: column-reverse;
  }

  .redirect {
    font-size: 30px;
    color: #53b0e4;
    margin: 40px 0;
  }
}
