#valeur-autonomie img {
  width: 30%;
  border: #e52953 10px solid;
}

#valeur-entraide img {
  border: #49b8d4 10px solid;
}

#valeur-confiance img {
  border: #cc89d6 10px solid;
}

#valeur-ecologie img {
  border: #70dda6 10px solid;
}

#valeur-mixite img {
  border: #f48f41 10px solid;
}
