.crapouille img {
  aspect-ratio: 1/1;
  max-width: 30%;
  max-height: 300px;
  object-fit: cover;
  background: linear-gradient(
    -45deg,
    #e52953,
    #f48f41,
    #e7ea69,
    #70dda6,
    #49b8d4,
    #cc89d6,
    #e52953
  );
  border-radius: 10px;
  padding: 6px;
  border: 0px;
}

@media only screen and (max-width: 767px) {
  .crapouille img {
    margin: auto;
  }
}
